body {
  margin: 0px;
  background: repeating-radial-gradient(circle, #0086B3, #0086B3 10px, #0099CC 10px, #0099CC 20px);
  font-family: Courier, monospace;
  text-align:  center;
  }

.container-head {
  width: 100%;
  max-width: 800px;
  height: 150px;
  padding: 25px;
  border: 0;
  margin: 0 auto;
  background: linear-gradient(to bottom, #000000, #0080B3 90%, #0086B3);
  }

.logo {
  float: left;
  margin-left: 9px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 17pt;
  color: #F0F8FF;
  }

nav {
  float: right;
  font-size: 12pt;
  color: #F0F8FF;
  }

nav ul {
  margin: 10px 0px;
  padding: 0;
  list-style: none;
  }

nav li {
  display: inline;
  }

ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
  }

li {
  margin-right: 9px;
  }

a {
  text-decoration: none;
  color: #F0F8FF;
  }

a:hover {
  text-decoration: underline;
	}

a:active {
  text-decoration: underline;
  color: #FFFFFF;
  }

a:visited {
  text-decoration: none;
  color: #F0F8FF;
	}

a.content {
  text-decoration: none;
  color: #F0F8FF;
  }

a.content:hover {
  text-decoration: none;
  color: #1AC6FF;
  }

a.content-l2 {
  text-decoration: none;
  color: #000000;
  }

a.content-l2:hover {
  text-decoration: none;
  color: #1AC6FF;
  }

.container-slog {
  text-align: left;
  position:absolute;
  top: 100px;
	left: 440px;
  font-size: 21pt;
  letter-spacing: 30px;
  color: #4B4B4B;
  }

.container-title {
  width: 100%;
  max-width: 800px;
  height: 150px;
  padding: 25px;
  border: 0;
  margin: 0 auto;
  text-align: center;
  line-height: 0.35em;
  font-size: 11pt;
  color: #000000;
  }

.container-title {
  color: #000000;
  background: linear-gradient(to bottom, #00FFFF 45%, #DEFFFF 46%, #00FFFF 60%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  }

.ttl
  {
  font-size: 21pt;
  line-height: 0em;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #000000;
  }

.container-chain {
  width: 100%;
  max-width: 800px;
  height: 20px;
  padding: 2px 0px 0px;
  border: 0;
  margin: 0 auto;
  background: #000000;
  font-size: 10pt;
  text-align: center;
  color: #D3D3D3;
  }

.container-home {
  width: 100%;
  max-width: 800px;
  height: 600px;
  padding: 25px;
  border: 0;
  margin: 0 auto;
  background: #F9FFFF;
  text-align: center;
  line-height: 0.55em;
  font-size: 11pt;
  color: #000000;
  }

  .hp1 {
  width: 100%;
  max-width: 700px;
  height: 330px;
  padding: 0px 0px 20px 0px;
  border: 0;
  margin: 0 auto;
  text-align: left;
  font-family: Courier, monospace;
  line-height: 0.55em;
  background: #F9FFFF;
  color: #000000;
  }

.container-about {
  width: 100%;
  max-width: 800px;
  height: 3675px;
  padding: 25px;
  border: 0;
  margin: 0 auto;
  background: #F9FFFF;
  text-align: center;
  line-height: 0.55em;
  font-size: 11pt;
  color: #000000;
  }

.container-txt {
  width: 100%;
  max-width: 700px;
  height: auto;
  padding: 30px 35px 20px 60px;
  border: 0;
  margin: 0 auto;
  text-align: left;
  font-family: Courier, monospace;
  background: #F9FFFF;
  color: #000000;
  }

span.underline {
  text-decoration-line: underline;
  }

.a1 {
  max-width: 700px;
  padding: 0px 0px 20px 0px;
  background: #F9FFFF;
  white-space: normal;
  line-height: 1.2em;
  word-break: break-word;
  text-align: justify;
  overflow: hidden;
  color: #000000;
}

.a2 {
  max-width: 700px;
  padding: 0px 0px 20px 0px;
  background: #F9FFFF;
  white-space: normal;
  line-height: 1.2em;
  word-break: break-word;
  text-align: justify;
  overflow: hidden;
  color: #000000;
}

.a3 {
  max-width: 700px;
  padding: 0px 0px 20px 0px;
  background: #F9FFFF;
  white-space: normal;
  line-height: 1.2em;
  word-break: break-word;
  text-align: justify;
  overflow: hidden;
  color: #000000;
}

.a4 {
  max-width: 700px;
  padding: 0px 0px 20px 0px;
  background: #F9FFFF;
  white-space: normal;
  line-height: 1.2em;
  word-break: break-word;
  text-align: justify;
  overflow: hidden;
  color: #000000;
}

.container-poem1 {
  width: 100%;
  max-width: 800px;
  height: 390px;
  padding: 25px;
  border: 0;
  margin: 0 auto;
  background: #F9FFFF;
  text-align: center;
  line-height: 0.55em;
  font-size: 11pt;
  color: #3C3C3C;
  }

  .p1 {
  max-width: 400px;
  height: 135px;
  padding: 10px 5px 10px 27px;
  border: 0;
  margin: 0 auto;
  text-align: left;
  line-height: 0.55em;
  background: #F9FFFF;
  color: #1AC6FF;
  }

.container-poem2 {
  width: 100%;
  max-width: 800px;
  height: 245px;
  padding: 25px;
  border: 0;
  margin: 0 auto;
  background: #F9FFFF;
  text-align: center;
  line-height: 0.5em;
  font-size: 11pt;
  color: #3C3C3C;
  }

  .p2 {
  max-width: 140px;
  height: 70px;
  padding: 10px 15px 10px 25px;
  border: 0;
  margin: 0 auto;
  text-align: left;
  line-height: 0.55em;
  background: #F9FFFF;
  color: #000000;
  }

.container-poem3 {
  width: 100%;
  max-width: 800px;
  height: 245px;
  padding: 25px;
  border: 0;
  margin: 0 auto;
  background: #F9FFFF;
  text-align: center;
  line-height: 0.5em;
  font-size: 11pt;
  color: #3C3C3C;
  }

  .p3 {
  max-width: 110px;
  height: 70px;
  padding: 10px 15px 10px 30px;
  border: 0;
  margin: 0 auto;
  text-align: left;
  line-height: 0.55em;
  background: #F9FFFF;
  color: #000000;
  }

.container-poem4 {
  width: 100%;
  max-width: 800px;
  height: 245px;
  padding: 25px;
  border: 0;
  margin: 0 auto;
  background: #F9FFFF;
  text-align: center;
  line-height: 0.5em;
  font-size: 11pt;
  color: #3C3C3C;
  }

  .p4 {
  max-width: 110px;
  height: 70px;
  padding: 10px 15px 10px 30px;
  border: 0;
  margin: 0 auto;
  text-align: left;
  line-height: 0.55em;
  background: #F9FFFF;
  color: #000000;
  }

.container-poem5 {
  width: 100%;
  max-width: 800px;
  height: 495px;
  padding: 25px;
  border: 0;
  margin: 0 auto;
  background: #F9FFFF;
  text-align: center;
  line-height: 0.5em;
  font-size: 11pt;
  color: #3C3C3C;
  }

  .p5 {
  max-width: 120px;
  height: 200px;
  padding: 10px 15px 10px 60px;
  border: 0;
  margin: 0 auto;
  text-align: left;
  line-height: 0.55em;
  background: #F9FFFF;
  color: #000000;
  }

.container-poem6 {
  width: 100%;
  max-width: 800px;
  height: 180px;
  padding: 25px;
  border: 0;
  margin: 0 auto;
  background: #F9FFFF;
  text-align: center;
  line-height: 0.5em;
  font-size: 11pt;
  color: #3C3C3C;
  }

  .p6 {
  max-width: 140px;
  height: 45px;
  padding: 10px 15px 10px 25px;
  border: 0;
  margin: 0 auto;
  text-align: left;
  line-height: 0.55em;
  background: #F9FFFF;
  color: #000000;
  }

.container-poem7 {
  width: 100%;
  max-width: 800px;
  height: 180px;
  padding: 25px;
  border: 0;
  margin: 0 auto;
  background: #F9FFFF;
  text-align: center;
  line-height: 0.5em;
  font-size: 11pt;
  color: #3C3C3C;
  }

  .p7 {
  max-width: 230px;
  height: 45px;
  padding: 10px 15px 10px 45px;
  border: 0;
  margin: 0 auto;
  text-align: left;
  line-height: 0.55em;
  background: #F9FFFF;
  color: #000000;
  }

.container-poem8 {
  width: 100%;
  max-width: 800px;
  height: 180px;
  padding: 25px;
  border: 0;
  margin: 0 auto;
  background: #F9FFFF;
  text-align: center;
  line-height: 0.5em;
  font-size: 11pt;
  color: #3C3C3C;
  }

  .p8 {
  max-width: 320px;
  height: 45px;
  padding: 10px 15px 10px 35px;
  border: 0;
  margin: 0 auto;
  text-align: left;
  line-height: 0.55em;
  background: #F9FFFF;
  color: #000000;
  }

.container-poem9 {
  width: 100%;
  max-width: 800px;
  height: 180px;
  padding: 25px;
  border: 0;
  margin: 0 auto;
  background: #F9FFFF;
  text-align: center;
  line-height: 0.5em;
  font-size: 11pt;
  color: #3C3C3C;
  }

  .p9 {
  max-width: 200px;
  height: 45px;
  padding: 10px 10px 10px 45px;
  border: 0;
  margin: 0 auto;
  text-align: left;
  line-height: 0.55em;
  background: #F9FFFF;
  color: #000000;
  }

.container-poem10 {
  width: 100%;
  max-width: 800px;
  height: 180px;
  padding: 25px;
  border: 0;
  margin: 0 auto;
  background: #F9FFFF;
  text-align: center;
  line-height: 0.5em;
  font-size: 11pt;
  color: #3C3C3C;
  }

  .p10 {
  max-width: 200px;
  height: 45px;
  padding: 10px 10px 10px 45px;
  border: 0;
  margin: 0 auto;
  text-align: left;
  line-height: 0.55em;
  background: #F9FFFF;
  color: #000000;
  }

.container-poem11 {
  width: 100%;
  max-width: 800px;
  height: 235px;
  padding: 25px;
  border: 0;
  margin: 0 auto;
  background: #F9FFFF;
  text-align: center;
  line-height: 0.5em;
  font-size: 11pt;
  color: #3C3C3C;
  }

  .p11 {
  max-width: 200px;
  height: 45px;
  padding: 10px 10px 10px 45px;
  border: 0;
  margin: 0 auto;
  text-align: left;
  line-height: 0.55em;
  background: #F9FFFF;
  color: #000000;
  }

.container-poem12 {
  width: 100%;
  max-width: 800px;
  height: 675px;
  padding: 25px;
  border: 0;
  margin: 0 auto;
  background: #F9FFFF;
  text-align: center;
  line-height: 0.5em;
  font-size: 11pt;
  color: #3C3C3C;
  }

  .p12 {
  max-width: 155px;
  height: 300px;
  padding: 10px 15px 10px 30px;
  border: 0;
  margin: 0 auto;
  text-align: left;
  line-height: 0.55em;
  background: #F9FFFF;
  color: #000000;
  }

.container-poem13 {
  width: 100%;
  max-width: 800px;
  height: 735px;
  padding: 25px;
  border: 0;
  margin: 0 auto;
  background: #F9FFFF;
  text-align: center;
  line-height: 0.5em;
  font-size: 11pt;
  color: #3C3C3C;
  }

  .p13 {
  max-width: 155px;
  height: 300px;
  padding: 10px 15px 10px 30px;
  border: 0;
  margin: 0 auto;
  text-align: left;
  line-height: 0.55em;
  background: #F9FFFF;
  color: #000000;
  }

.container-poem14 {
  width: 100%;
  max-width: 800px;
  height: 400px;
  padding: 25px;
  border: 0;
  margin: 0 auto;
  background: #F9FFFF;
  text-align: center;
  line-height: 0.5em;
  font-size: 11pt;
  color: #3C3C3C;
  }

  .p14 {
  max-width: 105px;
  height: 245px;
  padding: 10px 15px 10px 25px;
  border: 0;
  margin: 0 auto;
  text-align: left;
  line-height: 0.55em;
  background: #F9FFFF;
  color: #000000;
  }

.container-poem15 {
  width: 100%;
  max-width: 800px;
  height: 315px;
  padding: 25px;
  border: 0;
  margin: 0 auto;
  background: #F9FFFF;
  text-align: center;
  line-height: 0.5em;
  font-size: 11pt;
  color: #3C3C3C;
  }

  .p15 {
  max-width: 95px;
  height: 120px;
  padding: 10px 15px 5px 30px;
  border: 0;
  margin: 0 auto;
  text-align: left;
  line-height: 0.55em;
  background: #F9FFFF;
  color: #000000;
  }

.container-poem16 {
  width: 100%;
  max-width: 800px;
  height: 645px;
  padding: 25px;
  border: 0;
  margin: 0 auto;
  background: #F9FFFF;
  text-align: center;
  line-height: 0.5em;
  font-size: 11pt;
  color: #3C3C3C;
  }

  .p16 {
  max-width: 180px;
  height: 430px;
  padding: 5px 15px 10px 40px;
  border: 0;
  margin: 0 auto;
  text-align: left;
  line-height: 0.55em;
  background: #F9FFFF;
  color: #000000;
  }

.container-poem17 {
  width: 100%;
  max-width: 800px;
  height: 262px;
  padding: 25px;
  border: 0;
  margin: 0 auto;
  background: #F9FFFF;
  text-align: center;
  line-height: 0.5em;
  font-size: 11pt;
  color: #3C3C3C;
  }

  .p17 {
  max-width: 335px;
  height: 60px;
  padding: 2px 10px 5px 15px;
  border: 0;
  margin: 0 auto;
  text-align: left;
  line-height: 0.55em;
  background: #F9FFFF;
  color: #000000;
  }

.container-volume {
  width: 100%;
  max-width: 800px;
  height: 1200px;
  padding: 25px;
  border: 0;
  margin: 0 auto;
  background: #F9FFFF;
  text-align: center;
  line-height: 0.55em;
  font-size: 11pt;
  color: #000000;
  }

.container-txt {
  width: 100%;
  max-width: 610px;
  height: auto;
  padding: 30px 50px 20px 60px;
  border: 0;
  margin: 0 auto;
  text-align: left;
  font-family: Courier, monospace;
  background: #F9FFFF;
  color: #000000;
  }

.va1 {
  max-width: 700px;
  padding: 0px 0px 20px 0px;
  background: #F9FFFF;
  white-space: normal;
  line-height: 1.2em;
  word-break: break-word;
  overflow: hidden;
  color: #000000;
  }

.va2 {
  max-width: 700px;
  padding: 0px 0px 20px 0px;
  background: #F9FFFF;
  white-space: normal;
  line-height: 1.2em;
  word-break: break-word;
  text-align: justify;
  overflow: hidden;
  color: #000000;
  }

.container-foot {
  width: 100%;
  max-width: 800px;
  height: 25px;
  padding: 25px 25px 15px;
  border: 0;
  margin: 0 auto;
  background: transparent;
  color: white;
  font-size: 11pt;
  text-align: center;
  font-family: Courier;
  color: #F0F8FF;
  }
